body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 1440px;
        margin: 0px auto;
}
                                                                                       /* HEADER */
header {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        width: 1440px;
        font-size: 16px;
        background-color: #eeeeee;
         display: inline-flex;
        justify-content: center;
}
.header-wrap {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 1120px;
        align-items: center;
}
.main-header{
        display: flex;
        align-self: flex-start;
        width: 100%;
        margin-top: 50px;
}
.logo {
    width: 160px;
    height: 65px;
    align-self: flex-start;
    flex-grow: 1
}
header ul {
         
        display: flex; 
          align-items: center;

       flex-grow: 2
       
}
header li  {
        list-style: none;
        /* display: inline-block; */
        padding-left: 50px;
        font-size: 16px;
        font-weight: 500;
        line-height: calc(30px/16px);
        display: inline-flex
}
header li:last-child {
       padding-left: 285px;
}    

                                                                            /* SLIDER */

.slider {
        flex-direction: row;
        min-height: 415px;
        width: 1120px;
        position: relative;
}
 .slide { 
        display: none;
        overflow: hidden;
        width: 100%;
        height: 415px;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain; 
}
.slide:nth-child(1){
        background-image: url(../img/slide1.png);
  }     
.slide:nth-child(2){
        background-image: url(../img/slide2.png);
}
.slide:nth-child(3){
        background-image: url(../img/slide3.png);
}

.slide h1{
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        font-size: 55px;
        font-weight: 900;
        line-height: 1;
        width: 700px;
     
}
.slide p{
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: calc(24px/16px);
        width: 350px;
}
.slider button {
        display: block;
        background: #fb565a ;
        width: 260px;
        height: 50px;
        text-align: center;
        color: #fff;
        font-weight: bold;    
        border-radius: 3px;
        text-transform: uppercase;
        margin-top: 70px;
        margin-left: 40px;
} 
.slider input{
        display: none;
} 
.slider-control {
        position: relative;
        top: 345px;
        width: 150px;
        height: 30px;
        margin: 0px auto;
        z-index: 99;

}
.slider-control label {
        position: absolute;
        top: -2px;
        padding: 15px 15px;
        background-color: white;
        border: 3px solid #fff;
        border-radius: 50%;
        cursor: pointer;
}
.slider-control label:nth-child(1){
        position: absolute;
        top: -2px;
        padding: 15px 15px;
        background-color: white;
        border: 3px solid #fff;
        border-radius: 50%;
        cursor: pointer;

}
.slider-control label:nth-child(2){       
        left: 60px;
}
.slider-control label:nth-child(3){      
        left: 120px;
}

#btn1:checked ~.slider-control label:nth-child(1):after,
#btn2:checked ~.slider-control label:nth-child(2):after,
#btn3:checked ~.slider-control label:nth-child(3):after {
        content: "";
        position: absolute;
        top: 3px;
        right: 3px;
        padding: 10px;
        background-color: white;
        border: 2px solid gray;
        border-radius: 50%;
}

#btn1:checked ~ .slides>.slide:nth-child(1),
#btn2:checked ~ .slides>.slide:nth-child(2),
#btn3:checked ~ .slides>.slide:nth-child(3) {
        display: block;
}